<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p th:text="'hello'+${name}">hello! empty</p><!--"'hello'+${name}"-->
<!--thymeleaf의 장점: 서버없이
copypath -> Absolute Path 로 url 을 복사하고 인터넷 주소창에 입력하면 변경상황을 바로 확인 할 수 있다.-->
</body>
</html>